.login{
    min-height: 100vh;
    background: url(/background.png) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.login .logo{
    width: max(20vw, 200px);
}  
.form-check-form{
    background: white;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}
.form-check-header{
    font-weight: 500;
}

.input-field{
    padding: 8px 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;     
    outline-color: #077eff;
}
.form-check-form button{
    padding: 10px;
    border: none;
    background: #077eff;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}
.form-check-form button:hover{
    background: #055ecc;
}
.login-term{
    display: flex;
    gap: 5px;
    font-size: 14px;
    color: #808080
}
.login-forgot{
    display: block;
    gap: 5px;
    font-size: 14px;
    color: #808080
}
.login-toggle{
    display: block;
    padding: 5px;
    gap: 5px;
    font-size: 14px;
    color: #808080
}
.login-toggle span{
    color: #077eff;
    cursor: pointer;
}
@media (ma-width: 768px) {
    .login{
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
}
