.profile-update {
  min-height: 100vh;
  background: url(/background.png) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-update-container {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 700px;
  border-radius: 10px;
}
.profile-pic {
  max-width: 160px;
  aspect-ratio: 1/1;
  margin: 20px auto;
  border-radius: 50%;
}
.profile-update form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}
.profile-update form h3 {
  font-weight: 500;
}
.profile-update label {
  display: flex;
  align-items: center;
  gap: 10px;
  color: gray;
  cursor: pointer;
}
.profile-update label img {
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.profile-update input,
textarea {
  width: 300px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 1px solid #c9c9c9;
  outline-color: #077eff;
}
.profile-update button {
  padding: 8px;
  border: none;
  background-color: #077eff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
